<!DOCTYPE html>
<html>

<head>
  <%- include('../templates/head') %>
  <!-- Icons Css -->
  <link href="./css/icons.min.css" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="./css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
  <link rel='stylesheet' href='./stylesheets/style.css' />
  
</head>

<body data-topbar="dark">


 <div id="layout-wrapper">

   <header id="page-topbar">

     <%- include('../templates/dashboard-header') %>
     
   </header>


   <div class="main-content" style="margin-left: 0px;">

     <div class="page-content">
       <div class="container">



         <div class="row">
           <div class="col-xl-4">
             <div class="card">
               <div class="card-body">
                 <h4 class="card-title mb-4">Top API's</h4>

                 <div class="text-center">
                   <div class="mb-4">
                     <i class="bx bx-map-pin text-primary display-4"></i>
                   </div>
                   <h3>1,456</h3>
                   <p>User Management</p>
                 </div>

                 <div class="table-responsive mt-4">
                   <table class="table table-centered table-nowrap">
                     <tbody>
                       <tr>
                         <td style="width: 30%">
                           <p class="mb-0">User Management</p>
                         </td>
                         <td style="width: 25%">
                           <h5 class="mb-0">1,456</h5>
                         </td>
                         <td>
                           <div class="progress bg-transparent progress-sm">
                             <div class="progress-bar bg-primary rounded" role="progressbar" style="width: 94%"
                               aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                         </td>
                       </tr>
                       <tr>
                         <td>
                           <p class="mb-0">Transaction</p>
                         </td>
                         <td>
                           <h5 class="mb-0">1,123</h5>
                         </td>
                         <td>
                           <div class="progress bg-transparent progress-sm">
                             <div class="progress-bar bg-success rounded" role="progressbar" style="width: 82%"
                               aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                         </td>
                       </tr>
                       <tr>
                         <td>
                           <p class="mb-0">Comment</p>
                         </td>
                         <td>
                           <h5 class="mb-0">1,026</h5>
                         </td>
                         <td>
                           <div class="progress bg-transparent progress-sm">
                             <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 70%"
                               aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                         </td>
                       </tr>
                       <tr>
                        <td>
                          <p class="mb-0">SMS</p>
                        </td>
                        <td>
                          <h5 class="mb-0">1,000</h5>
                        </td>
                        <td>
                          <div class="progress bg-transparent progress-sm">
                            <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 70%"
                              aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                   </table>
                 </div>
               </div>
             </div>
           </div>

           <div class="col-xl-8">
             <div class="card">
               <div class="card-body">
                 <h4 class="card-title mb-4 float-sm-left">API Barchart</h4>
                 <div class="float-sm-right">
                   <ul class="nav nav-pills">
                     <li class="nav-item">
                       <a class="nav-link" href="#">Week</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link" href="#">Month</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link active" href="#">Year</a>
                     </li>
                   </ul>
                 </div>
                 <div class="clearfix"></div>
                 <div id="stacked-column-chart" class="apex-charts" dir="ltr"></div>
               </div>
             </div>
           </div>
         </div>


         <!-- Card Sliders -->

         <section class="model-rate">

           <h2>Available API's</h2>
           <div id="carouselExampleCaptions" class="carousel slide carousel-multi-item" data-ride="carousel"
             data-interval="false">

             <div class="models carousel-inner" role="listbox">


               <div class="carousel-item active carousel-mode row">

                <% apis.row1.forEach(data => { %>

                  <div class="mb-4 model col-lg-3 col-md-3 col-sm-6" style="float:left">
                    <div class="card">
                      <div class="card-top">
                        <div class="card-image">
                        <img src="<%= data.img %> " class="card-img-top" alt="<%= data.name %> icon">
                        </div>
                        <p class="api-info">
                          <span class="api-name"> <b><%= data.name %> </b></span>
                         <span class="mt-2 api-status <%= data.status %> "><%= data.status %> </span>
                        </p>
                      </div>
                      <div class="card-body">
                        <p class="card-text">

                        </p>
                      </div>
                      <!-- <button class="m-btn"> -->
                        <a href="<%= data.url %> " class="m-btn" title="Documentation link" target="_blank">view details</a>
                      <!-- </button> -->
                    </div>
                  </div>
                 
                <% }) %>

               </div>

               <div class="carousel-item carousel-mode row">

                 <% apis.row2.forEach(data => { %>

                 <div class="mb-4 model col-lg-3 col-md-3 col-sm-6" style="float:left">
                   <div class="card">
                     <div class="card-top">
                       <div class="card-image">
                       <img src="<%= data.img %> " class="card-img-top" alt="<%= data.name %> icon">
                       </div>
                       <p class="api-info">
                         <span class="api-name"> <b><%= data.name %> </b></span>
                         <span class="mt-2 api-status <%= data.status %> "><%= data.status %> </span>
                       </p>
                     </div>
                     <div class="card-body">
                       <p class="card-text">

                       </p>
                     </div>
                     <!-- <button class="m-btn"> -->
                       <a href="<%= data.url %> " class="m-btn" title="Documentation link" target="_blank">view details</a>
                     <!-- </button> -->
                   </div>
                 </div>

                 <% }) %>

               </div>


               <div class="carousel-item carousel-mode row">

                 <% apis.row3.forEach(data => { %>

                 <div class="mb-4 model col-lg-3 col-md-3 col-sm-6" style="float:left">
                   <div class="card">
                     <div class="card-top">
                       <div class="card-image">
                         <img src="<%= data.img %> " class="card-img-top" alt="<%= data.name %> icon">
                       </div>
                       <p class="api-info">
                         <span class="api-name"> <b><%= data.name %> </b></span>
                         <span class="mt-2 api-status <%= data.status %> "><%= data.status %> </span>
                       </p>
                     </div>
                     <div class="card-body">
                       <p class="card-text">

                       </p>
                     </div>
                     <!-- <button class="m-btn"> -->
                       <a href="<%= data.url %> " class="m-btn" title="Documentation link" target="_blank">view
                         details</a>
                     <!-- </button> -->
                   </div>
                 </div>

                 <% }) %>

               </div>

             </div>
              <a class="carousel-control-prev controls" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon slide-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next controls" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon slide-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>

           </div>

         </section>


         <!-- Card sliders ends -->

         <!-- Tables -->


         <div class="row">
           <div class="col-lg-12">
             <div class="card">
               <div class="card-body">
                 <h4 class="card-title mb-4">Latest API's</h4>
                 <div class="table-responsive">
                   <table class="table table-centered table-nowrap mb-0">
                     <thead class="thead-light">
                       <tr>
                         <!-- <th style="width: 20px;">
                           <div class="custom-control custom-checkbox">
                             <input type="checkbox" class="custom-control-input" id="customCheck1">
                             <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                           </div>
                         </th> -->
                         <th>API ID</th>
                         <th>API Name</th>
                         <th>API status</th>
                         <th>Preview API</th>
                         <th>Verify API</th>
                       </tr>
                     </thead>
                     <tbody>
                       <% apis.row2.forEach(list => { %>

                       <tr>
                         <!-- <td>
                           <div class="custom-control custom-checkbox">
                             <input type="checkbox" class="custom-control-input" id="customCheck7">
                             <label class="custom-control-label" for="customCheck7">&nbsp;</label>
                           </div>
                         </td> -->
                         <td><a href="javascript: void(0);" class="text-body font-weight-bold">#<%= list.id %> </a>
                         </td>
                         <td><%= list.name %></td>
                         <td>

                           <span class="api-status <%= list.status %> "><%= list.status %> </span>
                         </td>
                         <td>
                           <a href="<%= list.url %>" class="btn btn-sm preview-api">preview</a>
                         </td>

                         <td>
                           <!-- <div class="custom-control custom-switch">
                             <input type="checkbox" class="custom-control-input" id="<%= list.id %> ">
                             <label class="custom-control-label" for="<%= list.id %> "></label>
                           </div> -->

                           <label class="switch">
                             <% if (list.status == 'verified') { %>
                              <input type="checkbox" class="checker" id="<%= list.id %> " checked>
                              
                             <% }else{%>
                              <input type="checkbox" class="checker" id="<%= list.id %> ">
                             <% } %> 
                             <span class="slider round"></span>
                           </label>
                         </td>
                         
                       </tr>

                       <% }) %>

                     </tbody>
                   </table>
                 </div>
                 <!-- end table-responsive -->
               </div>
             </div>
           </div>
         </div>

         <!-- Table Ends -->




       </div>
     </div>
   </div>





   <footer class="footer" style="left: 0;">
     <div class="container-fluid">
       <div class="row">
         <div class="col-sm-6">
           <script>
             document.write(new Date().getFullYear())
           </script> © Micro API.
         </div>
         <div class="col-sm-6">
           <div class="text-sm-right d-none d-sm-block">
             Design & Develop by HNGi7
           </div>
         </div>
       </div>
     </div>
   </footer>
 </div>



  <!-- JAVASCRIPT -->
  <%- include('../templates/script') %>

  <!-- apexcharts -->
  <script src="./libs/apexcharts/apexcharts.min.js"></script>

  <script src="./js/pages/dashboard.init.js"></script>

  <!-- App js -->
  <!-- <script src="./js/app.js"></script> -->

  <script>

    $('body')

    .on('change', ".checker",(e)=>{

      let target = e.target;

    })

  </script>
</body>

</html>
