<!DOCTYPE html>
<html>

<head>
  <%- include('../templates/head') %>
  <!-- Icons Css -->
  <link href="./css/icons.min.css" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="./css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
  <link rel='stylesheet' href='./stylesheets/style.css' />
  <style>
  img{
    height: 30px !important;
  }
  @media (max-width: 380px){
    .navbar-brand-box {
    display: block !important;
      }
  }
  </style>
</head>

<body data-topbar="dark">


 <div id="layout-wrapper">

   <header id="page-topbar">
     <div class="navbar-header">
       <div class="d-flex">
         <!-- LOGO -->
         <div class="navbar-brand-box">
           <a href="/" class="logo logo-light">
             <span class="logo-sm">
               <!-- <img src="./images/micro-logo.svg" alt="" height="22"> -->
               <img src="./images/logo.svg" alt="" height="22">
             </span>
             <span class="logo-lg">
               <!-- <img src="./images/micro-logo.png" alt="" height="17"> -->
               <img src="./images/logo.png" alt="" height="17">
             </span>
           </a>
         </div>

         <!-- App Search-->
         <form class="app-search d-none d-lg-block">
           <div class="position-relative">
             <input type="text" class="form-control" placeholder="Search...">
             <span class="bx bx-search-alt"></span>
           </div>
         </form>

       </div>

       <div class="d-flex">

         <div class="dropdown d-inline-block d-lg-none ml-2">
           <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="mdi mdi-magnify"></i>
           </button>
           <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
             aria-labelledby="page-header-search-dropdown">

             <form class="p-3">
               <div class="form-group m-0">
                 <div class="input-group">
                   <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                   <div class="input-group-append">
                     <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                   </div>
                 </div>
               </div>
             </form>
           </div>
         </div>

         <!-- <div class="dropdown d-none d-lg-inline-block ml-1">
           <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
             <i class="bx bx-fullscreen"></i>
           </button>
         </div> -->

         <div class="dropdown d-inline-block">
           <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="bx bx-bell bx-tada"></i>
             <span class="badge badge-danger badge-pill">3</span>
           </button>
           <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
             aria-labelledby="page-header-notifications-dropdown">
             <div class="p-3">
               <div class="row align-items-center">
                 <div class="col">
                   <h6 class="m-0"> Notifications </h6>
                 </div>
                 <div class="col-auto">
                   <a href="#!" class="small"> View All</a>
                 </div>
               </div>
             </div>
             <div data-simplebar style="max-height: 230px;">
               <a href="#" class="text-reset notification-item">
                 <div class="media">
                   <div class="avatar-xs mr-3">
                     <span class="avatar-title bg-primary rounded-circle font-size-16">
                       <i class="bx bx-cart"></i>
                     </span>
                   </div>
                   <div class="media-body">
                     <h6 class="mt-0 mb-1">Your order is placed</h6>
                     <div class="font-size-12 text-muted">
                       <p class="mb-1">If several languages coalesce the grammar</p>
                       <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                     </div>
                   </div>
                 </div>
               </a>
               <a href="#" class="text-reset notification-item">
                 <div class="media">
                   <img src="./images/users/avatar-3.jpg" class="mr-3 rounded-circle avatar-xs" alt="user-pic">
                   <div class="media-body">
                     <h6 class="mt-0 mb-1">James Lemire</h6>
                     <div class="font-size-12 text-muted">
                       <p class="mb-1">It will seem like simplified English.</p>
                       <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                     </div>
                   </div>
                 </div>
               </a>
               <a href="#" class="text-reset notification-item">
                 <div class="media">
                   <div class="avatar-xs mr-3">
                     <span class="avatar-title bg-success rounded-circle font-size-16">
                       <i class="bx bx-badge-check"></i>
                     </span>
                   </div>
                   <div class="media-body">
                     <h6 class="mt-0 mb-1">Your item is shipped</h6>
                     <div class="font-size-12 text-muted">
                       <p class="mb-1">If several languages coalesce the grammar</p>
                       <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                     </div>
                   </div>
                 </div>
               </a>

               <a href="#" class="text-reset notification-item">
                 <div class="media">
                   <img src="./images/users/avatar-4.jpg" class="mr-3 rounded-circle avatar-xs" alt="user-pic">
                   <div class="media-body">
                     <h6 class="mt-0 mb-1">Salena Layfield</h6>
                     <div class="font-size-12 text-muted">
                       <p class="mb-1">As a skeptical Cambridge friend of mine occidental.</p>
                       <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
                     </div>
                   </div>
                 </div>
               </a>
             </div>
             <div class="p-2 border-top">
               <a class="btn btn-sm btn-link font-size-14 btn-block text-center" href="javascript:void(0)">
                 <i class="mdi mdi-arrow-right-circle mr-1"></i> View More..
               </a>
             </div>
           </div>
         </div>

         <div class="dropdown d-inline-block">
           <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="rounded-circle header-profile-user" src="./images/users/avatar-3.jpg" alt="Header Avatar">
             <span class="d-none d-xl-inline-block ml-1">Admin</span>
             <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
           </button>
           <div class="dropdown-menu dropdown-menu-right">
             <!-- item-->
             <!-- <a class="dropdown-item" href="#"><i class="bx bx-user font-size-16 align-middle mr-1"></i> Profile</a>
                 <a class="dropdown-item" href="#"><i class="bx bx-wallet font-size-16 align-middle mr-1"></i> My
                   Wallet</a> -->
             <!-- <a class="dropdown-item d-block" href="#"><span class="badge badge-success float-right">11</span><i
                     class="bx bx-wrench font-size-16 align-middle mr-1"></i> Settings</a>
                 <a class="dropdown-item" href="#"><i class="bx bx-lock-open font-size-16 align-middle mr-1"></i> Lock
                   screen</a> -->
             <!-- <div class="dropdown-divider"></div> -->
             <a class="dropdown-item text-danger" href="/logout"><i
                 class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i> Logout</a>
           </div>
         </div>

       </div>
     </div>
   </header>


   <div class="main-content" style="margin-left: 0px;">

     <div class="page-content">
       <div class="container">



         <div class="row">
           <div class="col-xl-4">
             <div class="card">
               <div class="card-body">
                 <h4 class="card-title mb-4">Top API's</h4>

                 <div class="text-center">
                   <div class="mb-4">
                     <i class="bx bx-map-pin text-primary display-4"></i>
                   </div>
                   <h3>1,456</h3>
                   <p>User Management</p>
                 </div>

                 <div class="table-responsive mt-4">
                   <table class="table table-centered table-nowrap">
                     <tbody>
                       <tr>
                         <td style="width: 30%">
                           <p class="mb-0">User Management</p>
                         </td>
                         <td style="width: 25%">
                           <h5 class="mb-0">1,456</h5>
                         </td>
                         <td>
                           <div class="progress bg-transparent progress-sm">
                             <div class="progress-bar bg-primary rounded" role="progressbar" style="width: 94%"
                               aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                         </td>
                       </tr>
                       <tr>
                         <td>
                           <p class="mb-0">Transaction</p>
                         </td>
                         <td>
                           <h5 class="mb-0">1,123</h5>
                         </td>
                         <td>
                           <div class="progress bg-transparent progress-sm">
                             <div class="progress-bar bg-success rounded" role="progressbar" style="width: 82%"
                               aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                         </td>
                       </tr>
                       <tr>
                         <td>
                           <p class="mb-0">Comment</p>
                         </td>
                         <td>
                           <h5 class="mb-0">1,026</h5>
                         </td>
                         <td>
                           <div class="progress bg-transparent progress-sm">
                             <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 70%"
                               aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                           </div>
                         </td>
                       </tr>
                       <tr>
                        <td>
                          <p class="mb-0">SMS</p>
                        </td>
                        <td>
                          <h5 class="mb-0">1,000</h5>
                        </td>
                        <td>
                          <div class="progress bg-transparent progress-sm">
                            <div class="progress-bar bg-warning rounded" role="progressbar" style="width: 70%"
                              aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                      </tr>
                      git</tbody>
                   </table>
                 </div>
               </div>
             </div>
           </div>

           <div class="col-xl-8">
             <div class="card">
               <div class="card-body">
                 <h4 class="card-title mb-4 float-sm-left">API Barchart</h4>
                 <div class="float-sm-right">
                   <ul class="nav nav-pills">
                     <li class="nav-item">
                       <a class="nav-link" href="#">Week</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link" href="#">Month</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link active" href="#">Year</a>
                     </li>
                   </ul>
                 </div>
                 <div class="clearfix"></div>
                 <div id="stacked-column-chart" class="apex-charts" dir="ltr"></div>
               </div>
             </div>
           </div>
         </div>


         <!-- Card Sliders -->

         <section class="model-rate">

           <h2>Available API's</h2>
           <div id="carouselExampleCaptions" class="carousel slide carousel-multi-item" data-ride="carousel"
             data-interval="false">

             <div class="models carousel-inner" role="listbox">


               <div class="carousel-item active carousel-mode row">

                <% apis.row1.forEach(data => { %>

                  <div class="mb-4 model col-lg-3 col-md-3 col-sm-6" style="float:left">
                    <div class="card">
                      <div class="card-top">
                        <div class="card-image">
                        <img src="<%= data.img %> " class="card-img-top" alt="<%= data.name %> icon">
                        </div>
                        <p class="api-info">
                          <span class="api-name"> <b><%= data.name %> </b></span>
                         <span class="mt-2 api-status <%= data.status %> "><%= data.status %> </span>
                        </p>
                      </div>
                      <div class="card-body">
                        <p class="card-text">

                        </p>
                      </div>
                      <!-- <button class="m-btn"> -->
                        <a href="<%= data.url %> " class="m-btn" title="Documentation link" target="_blank">view details</a>
                      <!-- </button> -->
                    </div>
                  </div>
                 
                <% }) %>

               </div>

               <div class="carousel-item carousel-mode row">

                 <% apis.row2.forEach(data => { %>

                 <div class="mb-4 model col-lg-3 col-md-3 col-sm-6" style="float:left">
                   <div class="card">
                     <div class="card-top">
                       <div class="card-image">
                       <img src="<%= data.img %> " class="card-img-top" alt="<%= data.name %> icon">
                       </div>
                       <p class="api-info">
                         <span class="api-name"> <b><%= data.name %> </b></span>
                         <span class="mt-2 api-status <%= data.status %> "><%= data.status %> </span>
                       </p>
                     </div>
                     <div class="card-body">
                       <p class="card-text">

                       </p>
                     </div>
                     <!-- <button class="m-btn"> -->
                       <a href="<%= data.url %> " class="m-btn" title="Documentation link" target="_blank">view details</a>
                     <!-- </button> -->
                   </div>
                 </div>

                 <% }) %>

               </div>


               <div class="carousel-item carousel-mode row">

                 <% apis.row3.forEach(data => { %>

                 <div class="mb-4 model col-lg-3 col-md-3 col-sm-6" style="float:left">
                   <div class="card">
                     <div class="card-top">
                       <div class="card-image">
                         <img src="<%= data.img %> " class="card-img-top" alt="<%= data.name %> icon">
                       </div>
                       <p class="api-info">
                         <span class="api-name"> <b><%= data.name %> </b></span>
                         <span class="mt-2 api-status <%= data.status %> "><%= data.status %> </span>
                       </p>
                     </div>
                     <div class="card-body">
                       <p class="card-text">

                       </p>
                     </div>
                     <!-- <button class="m-btn"> -->
                       <a href="<%= data.url %> " class="m-btn" title="Documentation link" target="_blank">view
                         details</a>
                     <!-- </button> -->
                   </div>
                 </div>

                 <% }) %>

               </div>

             </div>
              <a class="carousel-control-prev controls" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon slide-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next controls" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon slide-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>

           </div>

         </section>


         <!-- Card sliders ends -->

         <!-- Tables -->


         <div class="row">
           <div class="col-lg-12">
             <div class="card">
               <div class="card-body">
                 <h4 class="card-title mb-4">Latest API's</h4>
                 <div class="table-responsive">
                   <table class="table table-centered table-nowrap mb-0">
                     <thead class="thead-light">
                       <tr>
                         <th style="width: 20px;">
                           <div class="custom-control custom-checkbox">
                             <input type="checkbox" class="custom-control-input" id="customCheck1">
                             <label class="custom-control-label" for="customCheck1">&nbsp;</label>
                           </div>
                         </th>
                         <th>API ID</th>
                         <th>API Name</th>
                         <th>Created on</th>
                         <th>API status</th>
                       </tr>
                     </thead>
                     <tbody>
                       <% apis.row2.forEach(list => { %>

                       <tr>
                         <td>
                           <div class="custom-control custom-checkbox">
                             <input type="checkbox" class="custom-control-input" id="customCheck7">
                             <label class="custom-control-label" for="customCheck7">&nbsp;</label>
                           </div>
                         </td>
                         <td><a href="javascript: void(0);" class="text-body font-weight-bold">#<%= list.id %> </a>
                         </td>
                         <td><%= list.name %></td>
                         <td>
                           04 Oct, 2019
                         </td>
                         <td>

                           <span class="api-status <%= list.status %> "><%= list.status %> </span>
                         </td>
                       </tr>

                       <% }) %>

                     </tbody>
                   </table>
                 </div>
                 <!-- end table-responsive -->
               </div>
             </div>
           </div>
         </div>

         <!-- Table Ends -->




       </div>
     </div>
   </div>





   <footer class="footer" style="left: 0;">
     <div class="container-fluid">
       <div class="row">
         <div class="col-sm-6">
           <script>
             document.write(new Date().getFullYear())
           </script> © Micro API.
         </div>
         <div class="col-sm-6">
           <div class="text-sm-right d-none d-sm-block">
             Design & Develop by HNGi7
           </div>
         </div>
       </div>
     </div>
   </footer>
 </div>



  <!-- JAVASCRIPT -->
  <%- include('../templates/script') %>

  <!-- apexcharts -->
  <script src="./libs/apexcharts/apexcharts.min.js"></script>

  <script src="./js/pages/dashboard.init.js"></script>

  <!-- App js -->
  <!-- <script src="./js/app.js"></script> -->
</body>

</html>
